@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
/* navbar styling */
.navbar{
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  background: background-image: linear-gradient( 103.8deg, rgba(165,30,55,1) -0.3%, rgba(50,67,75,1) 28.9%, rgba(180,160,105,1) 53.8%, rgba(255,170,204,1) 79.4%, rgba(24,249,156,1) 102.1% );
 /*background: aliceblue; */
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
}
.navbar.sticky{
  padding: 15px 0;
  background: greenyellow;
}
.navbar .max-width{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: rgb(160, 0, 80)
  font-sizee: 35px;
  font-weight: 600;
}
.navbar .logo a span{
  color: greenyellow
  transition: all 0.3s ease;
}
.navbar .sticky .logo a span{
  color: rgb(53, 201, 53);
}
.navbar .menu li{
  list-style: none;
  display: inline-block;
}
.navbar .menu li a{
  display: block;
  color: aliceblue;
  FONT-SIZE: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover{
  color:aliceblue;
}
.navbar .sticky .menu li a :hover{
  color: aliceblue;
}
/* menu btn styling */
.menu-btn{
  color: #aliceblue
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.scroll-up-btn{
  position: fixed;
  height: 45 px;
  width: 42 px;
  background: pink;
  right: 30 px;
  bottom: 30 px;
  text-align: center;
  line-height: 45 px;
  color: #fff; 
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show{
  opacity: 1;
  pointer-events: auto;

/*home section styling */
.home{
  display:flex;
  background: url("images/banner.jpg") no-repeat center;
  height: 100vh;
  color:aliceblue;
  min-height: 500px;
  font-family: 'Ubuntu', sans-sariff;
}
.home .max-width{
  margin: auto 0 auto 40px;
}
.home .home-content .text-1{
  font-size: 27px;
}
.home .home-content .text-2{
  font-size:75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3{
  font-size: 40px;
  margin:spx 0;
}
.home .home-content .text-3 span{
  color: aliceblue;
  font-weight:500;
}
.home .home-content a{
  display: inline-block;
  background: greenyellow;
  color: aliceblue;
  font-size: 25px;
  padding: 12px 36 px;
  margin-top 20px;
  border-radius: 6px;
  border: 2px solid greenyellow;
  transition: all 0.3s ease;
}
.home .home-content a:hover{
  color: rgb(218, 169, 10);
  bakground: none;
}

/* all similar content styling code */
.section{
  padding 100px 0;
}
.about, .services, .skills, .art, .contact{
  font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
section .title{
  position: relative;
  text-align: center;
  font-size: 40 px;
  font-weight: 500;
  margin-bottom: 60 px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-seriff;
}
section .title::before{
  content: ""
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}
section .title::after{
  positon: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  color:rgb(218, 169, 10)
  padding: 5px;
  background: linear-gradient(to right,#fbfcae, #f7db99)
  transform: translateX(-50%);
}
/*about section styling*/
.about .title::after{
  content: "who i am";
}
.about .about-content .left{
  width: 45%
}
.about .about-content .left img{
  height: 400px;
  width: 400px
  object-fit: cover;
  border-radius: 6px;
}
.about .about-content .right{
    width: 55%
}
.about .about-content .right .text{
  font-size: 25px;
  font-weight: 600px;
  margin-bottom: 10px;
}
.about .about-content .right .text span{
  color:deeppink
}
.about .about-content .right .p{
  text-align: justify;
}
.about .about-content .right .a{
  display: inline-block;
  background: greenyellow;
  color:indianred
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid greenyellow;
  transition: all 0.3s ease;
}
.about .about-content .right a:hover{
  color:rgb(20, 233, 162)
  background: none;
}

/* services section styling */
.services, .art{
  color: aliceblue
  background:rgb(20, 233, 162)
}
.services .title::before,
.services .title::before{
  background:salmon;
}
.services .title::after,
.services .title::after{
  background:slateblue;
  content: "what i provide";
}
.services .serv-content .card{
  width:(33%-20px);
  background:teal;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
}
.services .serv-content .card:hover{
  background:00AA4F;
}
.services .serv-content .card .box{
  transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
  transform: scale(1.05);
}
.services .serv-content .card .i{
  font-size: 50px;
  color:peru;
  transition: color 0.3s ease;
}
.services .sev-content .card:hover i{
  color: green;
}
.services .serv-content .card .text{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

/* skills section styling */

.skills .title::after{
  content: "what i know";
}
.skills .skills-content .column{
  width: calc(50%-30px);
}
.skills .skills-content .left .text{
  font-size: 20 px;
  font-weight: 600;
  margin-bottom: 10px;
.skills .skills-content .left p{
  text-align: justify;
.skills .skills-content .left a{
  display: inlnine-block;
  background:rgb(218, 169, 10);
  color: aliceblue
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid rgb(218, 169, 10);;
  transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
  color:rgb(218, 169, 10);
  background: none;
}
.skills .skills-content .right .bars{
  margin-bottom: 15 px;
}
.skills .skills-content .right .info{
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}
.skills .skills-content .right span{
  font-weight: 500;
  font-size: 18px;
}
.skills .skills-content .right .line{
  height: 5px;
  width: 100%;
  background: lightslategray;
  postition: relative;
}
.skills .skills-content .right .line::before{
  content: "";
  position: absolute;
  height: 100%
  left: 0;
  top: 0;
  background: #64872c
}
skills-content .right .html::before{
  width: 90%;
}
skills-content .right .CSS::before{
  width: 60%;
}
skills-content .right .html::before{
  width: 80%;
}
skills-content .right .php::before{
  width: 50%;
}
skills-content .right .MySQL::before{
  width: 70%;
}

/* art section styling */

.art .title::after{
    content: "oil paints";
}
.art .carousel .card{
  background: #efe9e5;
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  transition: all 0.3s ease;
}
.art .carousel .card:hover{
  background: #e4e932;
}
.art .carousel .card .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s  ease;
}
.art .carousel .card:hover .box{
  transform: scale(1.05);
}
.art .carousel .card .text{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
.art .carousel .card img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5 px solid yellowgreen;
  transition: all 0.3s ease;
}
.art .carousel .card:hover img{
  border-color: #e4e932;
}
.owl-dots{
  text-align: center;
  margin-top: 20px;
}
.owl-dots{
  text-align: center;
  margin-top: 20px;
}
.owl-dot{
  height: 13px;
  width: 13px;
  margin: 0.5px;
  outline: none! important;
  border-radius: 50%;
  border: 2px turquoise!important;
  transition: all 0.3s ease;
}
.owl .dot .active{
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
  background:turquoise!Important;
}

.contact .title::after{
  content: "get in touch";
}
.contact .contact-content .column{
  width:calc(50%-30px);
}
.contact .contact-content .text{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content .left p{
  text-align: justify;
}
.contact .contact-content .left .icons{
  margin: 10px 0;
}
.contact .contact-content .row{
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info{
  margin-left: 30px;
}
.contact .contact-content .row i{
  font-size: 25px;
  color: 537b35;
}
.contact .contact-content .info .head{
  font-weight: 500;
}
.contact .contact-content .info .sub-title{
  color: #333;
}
.contact .right form.fields{
  display:flex;
}
.contact .right form .field,
.contact .right form .fields .field{
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .textarea{
  height: 80ox;
  weight: 100%;
}
.contact .right form .name{
  margin-right: 10px;
}
.contact .right form .email{
  margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
  height: 100%;
  width: 100%
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family:'Poppins', sans-serif;
}
.contact .right form .field input{
  height: 100%;
  width: 100%;
  border: 1px slid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: 'Poppins', sans-seriff;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button{
  height: 47px;
  width: 170px;
}
.contact .right form .button .button{
  width: 100%;
  height: 100%;
  border: 2px solid olive;
  backgorund: solid olive;
  color: aliceblue
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact .right form .button button:hover{
  color:rgb(20, 233, 162);
  background: none;
}
/* footer section styling*/
footer{
  background: #111;
  padding: 20px 23px;
  color: aliceblue;
}
footer span a{
  color:palevioletred;
  text-decoration: none;
}
footer span a:hover{
  text-decoration: underline;
}
  /* responsive media query start */
@media (max-width: 1300px) {
  .home .max-width{
    margin-left: 0px;
  }
}

@media (max-width: 1104px) {
  .about .about-content .left img{
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991px) {
    .max-width{
      padding: 0 50px;
  }
}

@media (max-width: 947px) {
    .menu-btn
    display: block;
    z-index: 999;
  }

  .menu-btn i.active:before{
    content:"\f00d";
  }  
  .navbar .menu{
  position: fixed;
  height: 100vh;
  width: 100%;
  left: -100%;
  top: 0;
  background: #111;
  text-align: center;
  padding-top: 80px;
  transition: all 0.3s ease;
  }
  .navbar .menu li a{
  display: incline-block;
  margin: 20px 0;
  font-size: 25px;
  }
}
.navbar .menu.active{
  left: 0;
  }
  .navbar .menu li{
  display: block;
  }
  .navbar .menu li a{
  display: inline-block;
  margin: 20px 0;
  font-size: 25px;
  }
  .home .home-content .text-2{
  font-size: 70px;
  }
  .home .home-content .text-3{
  font-size: 35px;
  }
  .home .home-content a{
    font-size: 23px{
    padding: 10px 30px;
  }
  .max-width{
    max-width: 800px;
  }
  .about .about-content .column{
    width: 100%;
  }
  .about .about-content .left{
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right{
  .about .about-content .right{
    flex: 100%;
  }
  .services .serv-content .card{
    width: calc(50% -10%);
    margin-bottom: 20px;
  }
  .skills .skill-content .column,
  .skills .skills-content .column{
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 690px) {
  .max-width{
    padding: 0 23px;
  }
  .home .home-content .text -2{
    font-size: 60px;
  }
  .home .home-content .text -3{
    font-size: 32px;
  }
  .home .home-content a{
    font-size: 20px;
  }
  .services .serv-content .card{
    width: 100%;
  }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
    font-size: 50px;
  }
    .home .home-content .text-3{
    font-size: 27px;
  }
  .home .home-content a{
    font-size: 20px{
    padding: 10px 30px;
  }
}
@media (max-width: 500px) {



  


















































































flex-wrap: wrap;
align-items: center;
justify-content: space-between;
.about .about-content .left{
}
.about .about-content .left img{
height: 400px;
width: 400px;
object-fit: cover;
border-radius: 6px;
}
.about .about-content .right{
width: 55%;
}
.about .about-content .right .text{
font-size: 25px;
font weight: 600;
margin bottom: 10px;
}
.about .about-content .right .text span{
  color: aliveblue;
.about .about-content .right p{
  text-align: justify;
}
.about .about-content .right a{ 
  display: inline-block;
  background: olive;
  color: aliceblue
  font-size 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid aliceblue;
  transition: all 0.3s ease;
}
.about .about-content .right a:hover{
color: aliveblue;
background: none;
}





















































































































































































































.contact .contact-content .row i{
  font-size: 25 px;
  color: aliceblue;
}
.contact .contact-content .info .head{
  font-weight: 500;
.contact .contact-content .info .sub-title{
  color: #333;
}
.contact .right form .fields{
  display:flex;
}
.contact .righ form .field,
.contact .right form .fields .field{
  height: 45px;
  width: 100%;
}
.contact .right form .field input
  height: 
}
.owl-dots{
  text-align:  center;
  margin-top: 20px;
}
.owl-dot{
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none| important;
  border-radius: 50%;
  border: 2px aliceblue | important;
  transitions: all 0.3s ease;
}
.owl-dot.active{
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: aliceblue: important;
}

/* contact section styling */
.contact .title::after{
    content: "get in touch";
}
.contact .contact-content .column{
  width: calc(50% -30px);
}
.contact .contact-content .text{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
.contact .contact-content .left p{
  text-align: justify;
}
.contact .contact-content .left































































































































































































display: flex;
justify-content: center;
margin: 0 auto 60px;
}
.about .about-content .right{
flex: 100%;
}
.services .serv-content .card{
width: calc(50% - 10px);
margin-bottom: 20px;
}
.skills .skills-content .column,
.contct ,contact-content .colum{
width: 100%;
margin-bottom: 35px;
}
}

@media (max-width 690px(){
.max-width{
padding: 0 23px;
}
.home .home-content .text-2{
font-size: 60px;



